html,

/* big big picture on the gallery */
#gallery_top_bar{
   /*width: 100%;
   height: 100%;*/
   left: 0px;
   top: 0px;
   background: url("Header_pic.720ae4f7f80d.png") no-repeat;
   background-size: 100%;
}

#itemBox{
   width: 1165px;
   height: 722px;
   left: 335px;
   top: 300px;

   background: #b8a3a31c;
   border: 1px solid #000000;
   box-sizing: border-box;
}

/* big big title on gallery */
#tiger_retail_title{
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-size: 120px;
   color: #F9F9F9;
   font-weight: bold;
   text-align: center;
   text-shadow: 6px 6px #000000;
}

/* TRT title under the big big title */
#trt_title{
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-size: 50px;
   color: #ff7301;
   font-weight: bold;
   text-align: center;
   text-shadow: 4px 4px #000000;
}

/*
#Login{
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-size: 30px;
   font-weight: bold;
   padding-left: 6px;
   color: #F9F9F9;
   color: #000000;
   text-align: left;
   text-decoration: none;
}
*/

/* image gallery title */
#gallery_title{
   font-size: 40px;
   font-weight: bold;
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
}

/* bar that holds both the buttons for post itmes and my items */
#posting_bar{
   text-align: right;
}

.card{
   margin-bottom: 20px;
   margin-right: 10px;
   margin-left: 10px;
}
/* post items and my items buttons */
/*
#button_topnav {
   text-decoration: none;
   background-color: #789C55;
   color: #FFFFFF;
   padding: 8px 20px 8px 20px;
   border-top: 6px solid #FFFFFF;
   border-right: 3px solid #333333;
   border-bottom: 5px solid #789C55;
   border-left: 1px solid #CCCCCC;
   border-radius: 3px;
   /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 30px;
 }
 */
 .topbar{
    padding: 20px 20px 20px 20px;
    /*background: #d0eede;*/
    background: url("tiger.4efb42bde9ea.jpg");
    background-size: 100%;
    opacity: 90%;
 }

 .gallery_back{
   background: #f3dfc9;
 }

/* search bar */
 #topnav {
   background-color: #9cdef8;
   width: 48%;
   min-width: 150px;
   border: 1px solid #000000;
   box-sizing: border-box;
   border-radius: 2px;
   padding: 3px 20px 3px 20px;
   font-family: 'Source Sans Pro', sans-serif;
}

.card{
   /*border-radius: 4px;
   background: #fff;
   box-shadow: 6px 6px 6px 6px rgba(0,0,0,.2);
   cursor: pointer;*/
   border-radius: 4px;
   background: rgb(190, 190, 190);
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
   transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
   padding: 14px 80px 18px 36px;
   cursor: pointer;
}

.card:hover{
   /* background: #d2f0d1;
   box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.50); */
   transform: scale(1.04);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
   /* background: #e4fbff; */
}

.rounded {
   border-top-left-radius: .5rem !important;
   border-bottom-left-radius: .5rem !important;
   border-top-right-radius: .5rem !important;
   border-bottom-right-radius: .5rem !important;
}

.only-round-right {
   border-top-left-radius: .0rem !important;
   border-bottom-left-radius: .0rem !important;
   border-top-right-radius: .2rem !important;
   border-bottom-right-radius: .2rem !important;
 }

 .only-round-left {
   border-top-right-radius: .0rem !important;
   border-bottom-right-radius: .0rem !important;
   border-top-left-radius: .2rem !important;
   border-bottom-left-radius: .2rem !important;
 }

.message-pop{
   position: fixed !important;
   top: 7px !important; 
   right: 7px !important;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: medium;
}

.account-alert{
   position: fixed !important;
   top: 7px !important; 
   right: 380px !important;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: medium;
}

 div.dropdown-menu.show { 
   background-color: #fd9652; 
   opacity: 100%;
   text-align: center;
   position: fixed;
}