html,

#gallery_top_bar{
   width: 1500px;
   height: 300px;
   left: 0px;
   top: 0px;
   background: linear-gradient(180deg, rgba(18, 18, 18, 0.11) 99.99%, rgba(255, 255, 255, 0) 100%), url("Perelman.86de48145820.jpg");
   opacity: 0.9;
}

#itemBox{
   width: 1165px;
   height: 722px;
   left: 335px;
   top: 300px;

   background: #b8a3a31c;
   border: 1px solid #000000;
   box-sizing: border-box;
}

#trt_title{
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-size: 90px;
   color: #000000;
   font-weight: bold;
   text-align: center;
   
}

#Login{
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-size: 30px;
   font-weight: bold;
   color: #000000;
   text-align: right;
}

#gallery_title{
   font-size: 40px;
   font-weight: bold;
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
}

#posting_bar{
   text-align: right;
   color: #000000;
   font-family: 'Source Sans Pro', sans-serif;
}

.button {
   font: bold 11px Arial;
   text-decoration: none;
   background-color: #EEEEEE;
   color: #333333;
   padding: 2px 6px 2px 6px;
   border-top: 1px solid #CCCCCC;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #CCCCCC;
 }
