html,

/* big big picture on the gallery */
#gallery_top_bar{
   /*width: 100%;
   height: 100%;*/
   left: 0px;
   top: 0px;
   background: url("PrMan.435b8a96aefd.png") no-repeat;
   /* background-size: 100%;*/
}

#itemBox{
   width: 1165px;
   height: 722px;
   left: 335px;
   top: 300px;

   background: #b8a3a31c;
   border: 1px solid #000000;
   box-sizing: border-box;
}

/* big big title on gallery */
#tiger_retail_title{
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-size: 120px;
   color: #F9F9F9;
   font-weight: bold;
   text-align: center;
   text-shadow: 6px 6px #000000;
}

/* TRT title under the big big title */
#trt_title{
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-size: 50px;
   color: #ff7301;
   font-weight: bold;
   text-align: center;
   text-shadow: 4px 4px #000000;
}

/* login button */
#Login{
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-size: 30px;
   font-weight: bold;
   color: #F9F9F9;
   text-align: right;
   text-decoration: none;
}

/* image gallery title */
#gallery_title{
   font-size: 40px;
   font-weight: bold;
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
}

/* bar that holds both the buttons for post itmes and my items */
#posting_bar{
   text-align: right;
}

/* post items and my items buttons */
#button_topnav {
   text-decoration: none;
   background-color: #789C55;
   color: #FFFFFF;
   padding: 6px 20px 6px 20px;
   border-top: 1px solid #CCCCCC;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #CCCCCC;
   border-radius: 3px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 30px;
 }

/* search bar */
 #topnav {
   background-color: #e9e9e9;
   width: 48%;
   min-width: 150px;
   border: 1px solid #000000;
   box-sizing: border-box;
   border-radius: 2px;
   padding: 3px 20px 3px 20px;
   font-family: 'Source Sans Pro', sans-serif;
}
