html,

/* big big picture on the gallery */
#gallery_top_bar{
   left: 0px;
   top: 0px;
   background-size: 100%;
}

.navbar-brand {
   padding-top: 0.55rem !important;
   padding-left: 0.75rem !important;
}
.nav-link {
   padding-left: 1rem !important;
   color: #000000 !important;
}

a.nav-link:hover {
   color: white !important;
}

.navbar-img {
   padding-left: 1rem;
}

.aboutteam {
	font-weight: 400;
   font-size: 15px;
   text-align: center;
	color: black;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), 0px 2px 6px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.team-description {
	text-align: center;
   color: rgb(65, 63, 63);
}

.hide {
   display: none;
 }
 
 .teamprofile:hover .d-lg-none {
   display: flex !important;
 }

#Sara{
   height: 150px;
   width: 150px;
   border-radius: 20px;
   background: url(sara_schwartz.png) no-repeat;
   background-size: 100%;
   margin: 0 auto;
}

#Phoebe{
   height: 150px;
   width: 150px;
   border-radius: 20px;
   background: url(phoebe_lin.png) no-repeat;
   background-size: 100%;
   margin: 0 auto;
}

#Albert{
   height: 150px;
   width: 150px;
   border-radius: 20px;
   background: url(albert_lin.png) no-repeat;
   background-size: 100%;
   margin: 0 auto;
}

#Katie{
   height: 150px;
   width: 150px;
   border-radius: 20px;
   background: url(katie_mclaughlin.png) no-repeat;
   background-size: 100%;
   margin: 0 auto;
}

#itemBox{
   width: 1165px;
   height: 722px;
   left: 335px;
   top: 300px;

   background: #b8a3a31c;
   border: 1px solid #000000;
   box-sizing: border-box;
}

/* big big title on gallery */
#tiger_retail_title{
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   /*font-size: 120px;*/
   font-size: 600%;
   color: #F9F9F9;
   font-weight: bold;
   text-align: center;
   text-shadow: 6px 6px #000000;
}

#tiger_retail_title_small{
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-size: 400%;
   color: #F9F9F9;
   font-weight: bold;
   text-align: center;
   text-shadow: 6px 6px #000000;
}

a.titleLink{
   color: white;
   text-decoration: none;
}

/* TRT title under the big big title */
#trt_title{
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   /*font-size: 50px;*/
   font-size: 300%;
   color: #ff7301;
   font-weight: bold;
   text-align: center;
   text-shadow: 4px 4px #000000;
}

/*
#Login{
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-size: 30px;
   font-weight: bold;
   padding-left: 6px;
   color: #F9F9F9;
   color: #000000;
   text-align: left;
   text-decoration: none;
}
*/

/* image gallery title */
#gallery_title{
   font-size: 2rem;
   font-weight: bold;
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   padding-top: 10px;
}

#about-us{
   font-size: 50px;
   font-weight: bold;
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   padding-top: 10px;
}

/* bar that holds both the buttons for post itmes and my items */
#posting_bar{
   text-align: right;
}

/* search bar on gallery */
#search_bar{
   padding-left: 1rem;
}

/* button to switch from requests to gallery and vice versa */
#switch_btn{
   padding-left: 7rem;
}

/* category header above filters */
#category_label{
   font-size: 20px;
   text-decoration: underline;
   font-weight: bold;
   padding-bottom: 10px;
}

/* category sub header above labels */
#category_sublabel{
   font-size: 20px;
   font-weight: bold;
}

/* individual category links */
#category_link{
   color: black;
   font-size: 25px;
}

/* post items and my items buttons */
/*
#button_topnav {
   text-decoration: none;
   background-color: #789C55;
   color: #FFFFFF;
   padding: 8px 20px 8px 20px;
   border-top: 6px solid #FFFFFF;
   border-right: 3px solid #333333;
   border-bottom: 5px solid #789C55;
   border-left: 1px solid #CCCCCC;
   border-radius: 3px;
   /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-family: 'Source Sans Pro', sans-serif;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 30px;
 }
 */
 .topbar{
    padding: 20px 20px 20px 20px;
    background-color: rgb(255, 213, 159);
    /* rgb(241, 195, 134) */
    /* background: url(tiger2.jpg); */
    background-size: 100%;
    z-index:1;
 }

 .gallery_back{
   background: white;
 }

/* search bar */
 #topnav {
   background-color: #9cdef8;
   width: 48%;
   min-width: 150px;
   border: 1px solid #000000;
   box-sizing: border-box;
   border-radius: 2px;
   padding: 3px 20px 3px 20px;
   font-family: 'Source Sans Pro', sans-serif;
}

.item-details{
   padding-left: 3%;
   padding-right: 3%;
   padding-bottom: 3%;
}
.card-body{
   padding: 3px 20px 3px 20px;
}

.card-title{
   font-size: 18px;
   font-weight: bold;
   text-align: center;
}

.card-text{
   font-size: 14px;
   margin: 0;
   padding-top: 3%;
}

.text-muted{
   font-size:7px;
}

.item-card{
   /*border-radius: 4px;
   background: #fff;
   box-shadow: 6px 6px 6px 6px rgba(0,0,0,.2);
   cursor: pointer;*/
   margin-bottom: 10px;
   margin-right: 10px;
   margin-left: 10px;
   border-radius: 4px;
   background: #fff5e6; 
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.14), 0 0 6px rgba(0, 0, 0, 0.08);
   transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
   /*padding: 14px 80px 18px 36px;*/
   cursor: pointer;
}


.hover:hover{
   /* background: #d2f0d1;
   box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.50); */
   
   transform: scale(1.04);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);

   /* background: #e4fbff; */
}

.rounded {
   border-top-left-radius: .5rem !important;
   border-bottom-left-radius: .5rem !important;
   border-top-right-radius: .5rem !important;
   border-bottom-right-radius: .5rem !important;
}

.only-round-right {
   border-top-left-radius: .0rem !important;
   border-bottom-left-radius: .0rem !important;
   border-top-right-radius: .2rem !important;
   border-bottom-right-radius: .2rem !important;
 }

 .only-round-left {
   border-top-right-radius: .0rem !important;
   border-bottom-right-radius: .0rem !important;
   border-top-left-radius: .2rem !important;
   border-bottom-left-radius: .2rem !important;
 }
.message-pop{
   position: fixed !important;
   top: 7px !important; 
   right: 7px !important;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: medium;
}

.account-alert{
   position: fixed !important;
   top: 7px !important; 
   right: 380px !important;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: medium;
}

 div.dropdown-menu.show { 
   background-color: rgb(219, 159, 81); 
   opacity: 100%;
   text-align: center;
   position: fixed;
   z-index:1;
}

/*https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel*/
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

#comic-image {
   width: 75%;
   height: auto;
   box-shadow: none !important;
}

#chat:hover {
   transform: scale(1.04);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.hover-grey:hover {
   background-color: rgb(231, 231, 231) !important;
}

.bg-shadow {
   background-color: #a3a3a388;
}

.active-grey.active {
   background-color: rgb(167, 167, 167) !important;
}

.hover-light:hover {
   background-color: #dfdfdf !important;
   color: #000000 !important;
}

a.orange-link:link {
   text-decoration: none;
   color: rgb(255, 153, 0);
}
 
a.orange-link:visited {
   text-decoration: none;
   color: rgb(255, 153, 0);
}
 
a.orange-link:hover {
   color: rgb(179, 107, 40);
}
 
a.orange-link:active {
   color: rgb(252, 169, 45);
}

#hint_id_deadline {
   font-size: 12px;
}

label {
   font-weight: 500;
}

/*
.multi-item-carousel {
   overflow: hidden;
 }
 
 .multi-item-carousel .carousel-control-prev,
 .multi-item-carousel .carousel-control-next {
   background: rgba(255, 255, 255, 0.5);
   width: 5%;
 }
 
 .multi-item-carousel .carousel-inner {
   width: 100%;
   /*left: -30%;*/
    /*
 }
 /*
 
 .carousel-inner .carousel-item-right.active,
 .carousel-inner .carousel-item-next {
   transform: translateX(100%);
 }
 
 .carousel-inner .carousel-item-left.active,
 .carousel-inner .carousel-item-prev {
   transform: translateX(-100%)
 }
 
 .carousel-inner .carousel-item-right,
 .carousel-inner .carousel-item-left {
   transform: translateX(100%);
 }
 
 .item__third {
   float: left;
   width: 25%;
   background-size: cover;
   height: 400px;
 }*/
 