<!DOCTYPE html>
<html>

<head>
    <title>TRT Tiger ReTail</title>
    {% load static %}
    <meta name = "viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'marketplace/styles.css' %}">

    <!-- Stuff for Popper -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3270b6ed53.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'marketplace/functions.js' %}"></script>

    <!-- React -->
    <script src=
      "https://unpkg.com/react@16/umd/react.production.min.js">
      </script>
      
      <script src=
      "https://unpkg.com/react-dom@16/umd/react-dom.production.min.js">
      </script>
     <!-- jQuery stuff for messages -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

     <!-- Bootstrap Popper, JS plugins -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
</head>



<body>
    {% include 'marketplace/message.html' %}
    {% with Item_AVAILABLE=0 Item_FROZEN=1 Item_COMPLETE=2 %}
    {% with Transaction_INITIATED=0 Transaction_ACKNOWLEDGED=1 Transaction_S_PENDING=2 %}
    {% with Transaction_B_PENDING=3 Transaction_COMPLETE=4 Transaction_CANCELLED=5 %}

    <div id="gallery_top_bar" class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark" style="padding-left: 20px;">
            <a class="navbar-brand" href="{% url 'faq' %}">FAQ</a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if account %}
                    <a class="nav-item nav-link active" href="{% url 'edit_account' %}">MY ACCOUNT<span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="{% url 'account_activity' %}">ACTIVITY LOG<span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link active" href="{% url 'inbox' %}">Inbox<span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="{% url 'logout' %}">LOGOUT</a>
                    {% else %}
                    <a class="nav-item nav-link active" href="{% url 'edit_account' %}">LOGIN<span
                            class="sr-only">(current)</span></a>
                    {% endif %}
                    <a class="nav-item nav-link" href="{% url 'contact' %}">CONTACT US</a>
                </div>
            </div>
        </nav>
        <div id="tiger_retail_title">
            Tiger ReTail
        </div>
        <div id="trt_title">
            T&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;T
        </div>
        <br><br>
    </div>

    {% block content %}{% endblock content %}
    <!-- adapted from https://stackoverflow.com/questions/58863057/displaying-a-message-as-a-popup-alert-in-django -->
    {% if messages %}
        <script>
            {% for message in messages %}
                $(document).ready(function () {
                    $('.toast').toast('show');
                });
            {% endfor %}
        </script>
    {% endif %}
    
    {% endwith %}
    {% endwith %}
    {% endwith %}
</body>

</html>