{% extends "marketplace/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="topbar" style="text-align: right;">
    <a href="{% url 'gallery' %}" class="btn btn-outline-light" style="font-weight: bold;"> BACK TO IMAGE GALLERY</a>
</div>
<div style="background-color: rgb(221, 221, 221)">
    <div class="container" id="about-us">
        <h1 style="font-weight:bold; text-align:center; padding-bottom: 15px">
            The Developers
            <br>
        </h1>
        <div class="row">
            <div class="col-12 col-lg-3" style="text-align: center;">
                <div id="Phoebe"></div>
                <p class="sub-text aboutteam">
                    Phoebe Lin '23<br><i class="far fa-envelope"></i> (pslin@princeton.edu)
                </p>
            </p>
            </div>
            <div class="col-12 col-lg-3" style="text-align: center;">
                <div id="Sara"></div>
                <p class="sub-text aboutteam">
                    Sara Schwartz '23<br><i class="far fa-envelope"></i> (sarats@princeton.edu)
                </p>
            </div>
            <div class="col-12 col-lg-3" style="text-align: center;">
                <div id="Albert"></div>
                <p class="sub-text aboutteam">
                    Albert Lin '23<br><i class="far fa-envelope"></i> (aklin@princeton.edu)
                </p>
            </div>
            <div class="col-12 col-lg-3" style="text-align: center;">
                <div id="Katie"></div>
                <p class="sub-text aboutteam">
                    Katie Mclaughlin '23<br><i class="far fa-envelope"></i> (kjm3@princeton.edu)
                </p>
            </div>
        </div>
    </div>
    </div>
    <br>
</div>
<div class="container">
    <div class="row" style="text-align: center">
        <p>
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSdG0tUu83mnzcQVjfoT_Xke7HIUfDiV7JiGfeDIr93w_xIIzQ/viewform?embedded=true"
            width="640" height="688" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></p>
    </div>
</div>
{% endblock content %}