{% extends "marketplace/base.html" %}
{% block content %}

<div class="container">
    <div class="row my-4">
        <div class="col-6">
            <div class="input-group rounded">
              <input type="search" id="searchbar" oninput="updateQuery()" placeholder="Search" class="form-control" />
              <button class="btn btn-secondary"><i class=" fa fa-search"></i></button>
            </div>
        </div>
        <div class="col-6">
            CATEGORIES
            {% for category in categories %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="category_{{category.pk}}" oninput="updateQuery()">
                    <label class="form-check-label" for="category_{{category.pk}}">
                        {{category.name}}
                    </label>
                </div>
            {% endfor %}

            CONDITIONS 
            {% for condition in Item.CONDITIONS %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="condition_{{condition.index}}" oninput="updateQuery()">
                    <label class="form-check-label" for="condition_{{condition.index}}">
                        {{condition.name}}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody id="table_body">
        </tbody>
    </table>
</div>

<script>
    'use strict';
    const category_pks = [{% for category in categories %}{{category.pk}}, {% endfor %}];
    const condition_indexes = [{% for condition in Item.CONDITIONS %}{{condition.index}}, {% endfor %}];
    let active_category_pks = [];
    let active_condition_indexes = [];
    let search_string = "";

    let items = [];        // continuously gathered items, sorted by most relevant first
    // each item is a dict {"pk", "name", "price", "description", "lead_image", "album", etc.}

    let existing_html = '';            
    let last_rendered_item_index = -1;  // tracks last rendered item
    let restart = false;                // indicates that items should be cleared

    // set active_category_pks, active_condition_indexes, search_string appropriately
    // based on current inputs
    function updateQuery() {
        active_category_pks = [];
        active_condition_indexes = [];

        for (const category_pk of category_pks) {
            if ($("#category_"+category_pk).is(':checked')) {
                active_category_pks.push(category_pk);
            }
        }
        for (const condition_index of condition_indexes) {
            if ($("#condition_"+condition_index).is(':checked')) {
                active_condition_indexes.push(condition_index);
            }
        }

        search_string = $("#searchbar").val();
        restart = true; // trigger a clear of the items array, since query parameters have changed
    }

    // generates and injects new items HTML, updates 'last_rendered_item_index'
    function injectItemsHTML() {

        // generate and add new items html
        for (const item of items.slice(last_rendered_item_index + 1)) {
            existing_html += "<tr>";
            existing_html += "<td>" + item["name"] + "</td>";
            existing_html += "<td>" + item["price"] + "</td>";
            existing_html += "<td>" + item["description"] + "</td>";
            existing_html += "</tr>";
        }

        // update index
        last_rendered_item_index = items.length - 1;
        $('#table_body').html(existing_html);
    }

    // retrieve and render items repeatedly in a synchronous fashion 
    // (only this function and those it calls should ever touch 'items', 'existing_html', 'last_rendered_item_index' to avoid concurrency issues)
    function populateItemsSynchronously(count, period) {

        if (restart) {
            restart = false;
            items = [];
            existing_html = '';
            last_rendered_item_index = -1;
            window.setTimeout(populateItemsSynchronously(count, period), period);
            return;
        }

        // populate items array with new items

        // construct appropriate GET parameters
        let categories_str = "";
        for (const category_pk of active_category_pks) {
            categories_str += category_pk + ",";
        }
        let conditions_str = "";
        for (const condition_index of active_condition_indexes) {
            conditions_str += condition_index + ",";
        }

        // get new items in backward direction
        let base_item_pk = -1;
        if (items.length != 0) {
            base_item_pk = items[items.length - 1]["pk"];
        }
        fetch("/items/get_relative/?count=" + count + "&direction=backward&base_item_pk=" + base_item_pk + "&search_string=" + search_string + "&condition_indexes=" + conditions_str + "&category_pks=" + categories_str)
            .then((resp) => {return resp.json();})
            .then((data) => {

                // add to items array
                items.push(...data["items"]);
                // render
                injectItemsHTML();

                // notice that setTimeout is called only in callback of fetch, to avoid concurrency issues
                // (the call to setTimeout in the .catch only occurs if .then doesn't execute)
                window.setTimeout(populateItemsSynchronously(count, period), period);
                return;
            })
            .catch((error) => {
                window.setTimeout(populateItemsSynchronously(count, period), period);
                return console.log(error);
            });
            
        return;
    }

    function setup() {
            window.setTimeout(() => {populateItemsSynchronously(5, 10)}, 0);
        }

    $('document').ready(setup);

</script>
{% endblock content %}