{% extends "marketplace/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <display>Please beautify this form. Like add input icons next to the input fields or somethin</display>
        <form action="{% url 'edit_account' %}" method="post">
            {% csrf_token %}
            <!-- SHOULD TRY TO CUSTOMIZE FORM TO LOOK NICE -->
            <!-- i.e. ADD INPUT ICONS NEXT TO THE FIELDS -->
            {{ account_form|crispy }}
            <input type="submit" value="Save">
        </form>
        <a href="{% url 'gallery' %}">Back to image gallery</a> <br>
    </div>

{% endblock content %}
