{% extends "marketplace/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="topbar" style="text-align: right;">
    <a href="{% url 'list_items' %}" class="btn btn-outline-dark" style="font-weight: bold;"> BACK TO MY ITEMS</a>
</div>
    <div class="container my-4">
        <h2>Item Edit Form</h2> <hr>
        <form action="{% url 'edit_item' item.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="row my-2">
                <div class="col-lg-6 col-sm-12">
                    <label>Item Name*</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text only-round-left">
                            <span style="font-size: 16px; color: rgb(0, 0, 0);">
                                <i class="fas fa-box-open"></i> 
                            </span>
                        </div>
                      </div>
                      {{ item_form.name|as_crispy_field }}
                </div>
            </div>

            <div class="row my-2">
                <div class="col-lg-6 col-sm-12">
                    {{ item_form.description|as_crispy_field }}
                </div>
            </div>

            <div class="row my-4">
                <div class="col-lg-3 col-sm-6">
                    <label>Price*</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend d-none d-xl-block">
                          <div class="input-group-text only-round-left">
                            <span style="font-size: 16px; color: rgb(0, 0, 0);">
                                <i class="fas fa-dollar-sign"></i> 
                            </span>
                          </div>
                        </div>
                        {{ item_form.price|as_crispy_field }}
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <label>Price Negotiable*</label>
                    {{ item_form.negotiable|as_crispy_field }}
                </div>
                <div class="col-lg-4 col-sm-6">
                    <label>Deadline to Sell*</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend d-none d-xl-block">
                          <div class="input-group-text only-round-left">
                            <span style="font-size: 16px; color: rgb(0, 0, 0);">
                                <i class="fas fa-calendar"></i> 
                            </span>
                          </div>
                        </div>
                        {{ item_form.deadline|as_crispy_field }}
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-lg-6 col-sm-6">
                    {{ item_form.categories|as_crispy_field }}
                </div>
                <div class="col-lg-6 col-sm-6">
                    {{ item_form.condition|as_crispy_field }}
                </div>
            </div>

            <div class="row my-2">
                <div class="col-lg-6 col-sm-6">
                    <div class="row my-2">
                        <label>Lead Image*</label>
                    </div>
                    <div class="row my-2">
                        {{ item_form.image|as_crispy_field }}
                    </div>
                    <div class="row my-2">

                        <div class="col">
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#lead_modal">
                            Preview Lead Image
                            </button>
                        </div>

                        <div class="modal fade" id="lead_modal" tabindex="-1" aria-labelledby="lead_modal_label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="lead_modal_label">Preview of Lead Image</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="lead_previewer"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="row my-2">
                        <label>Album (up to 5 supplementary images)</label>
                    </div>
                    <div class="row my-2">
                        <div class="col-12">
                            <label style="font-weight:400;">Currently: {{item.album.all|length}} {% if item.album.all|length == 1 %}image{% else %}images{% endif %}</label>
                        </div>
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="id_replace" name="replace">
                                <label class="form-check-label" style="font-weight:400;" for="id_replace">
                                    replace old images
                                </label>
                            </div>
                        </div>
                        <input id="id_album" type="file" name="album" accept="image/*" multiple/>
                    </div>

                    <div class="row my-2">

                        <div class="col">
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#album_modal">
                            Preview Album Images
                            </button>
                        </div>

                        <div class="modal fade" id="album_modal" tabindex="-1" aria-labelledby="album_modal_label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="album_modal_label">Preview of Album Images</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="album_previewer"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
            </div>


            <div class="text-center my-4">
                <button id="id_submit" type="submit" value="Save" class="btn btn-success">Save</button>
            </div>

        </form>
    </div>

    <script>
        document.getElementById("id_image").setAttribute("accept", "image/*");
        let priceValid = true;
        let deadlineValid = true;
        let imageValid = true;
        let albumValid = true;
        function updateSubmitButton()
        {
            if (!priceValid || !deadlineValid || !imageValid || !albumValid)
            {
                document.getElementById("id_submit").disabled = true;
                submitPopover("please fix errors on form");
                return;
            }
            document.getElementById("id_submit").disabled = false;
            $("#id_submit").popover("hide");
        }
        function imagePopover(text)
        {
            document.getElementById("id_image").setAttribute("data-bs-toggle", "popover");
            document.getElementById("id_image").setAttribute("data-bs-trigger", "manual");
            document.getElementById("id_image").setAttribute("data-bs-placement", "top");
            document.getElementById("id_image").setAttribute("data-bs-html", true);
            document.getElementById("id_image").setAttribute("data-bs-content", "<span class='text-danger'><i class='fas fa-exclamation mx-2'></i>" + text + "</span>");
            $("#id_image").popover("show");
        }
        function albumPopover(text)
        {
            document.getElementById("id_album").setAttribute("data-bs-toggle", "popover");
            document.getElementById("id_album").setAttribute("data-bs-trigger", "manual");
            document.getElementById("id_album").setAttribute("data-bs-placement", "top");
            document.getElementById("id_album").setAttribute("data-bs-html", true);
            document.getElementById("id_album").setAttribute("data-bs-content", "<span class='text-danger'><i class='fas fa-exclamation mx-2'></i>" + text + "</span>");
            $("#id_album").popover("show");
        }
        function submitPopover(text)
        {
            document.getElementById("id_submit").setAttribute("data-bs-toggle", "popover");
            document.getElementById("id_submit").setAttribute("data-bs-trigger", "manual");
            document.getElementById("id_submit").setAttribute("data-bs-placement", "top");
            document.getElementById("id_submit").setAttribute("data-bs-html", true);
            document.getElementById("id_submit").setAttribute("data-bs-content", "<span class='text-danger'><i class='fas fa-exclamation mx-2'></i>" + text + "</span>");
            $("#id_submit").popover("show");
        }

        function pricePopover(text)
        {
            document.getElementById("id_price").setAttribute("data-bs-toggle", "popover");
            document.getElementById("id_price").setAttribute("data-bs-trigger", "manual");
            document.getElementById("id_price").setAttribute("data-bs-placement", "top");
            document.getElementById("id_price").setAttribute("data-bs-html", true);
            document.getElementById("id_price").setAttribute("data-bs-content", "<span class='text-danger'><i class='fas fa-exclamation mx-2'></i>" + text + "</span>");
            $("#id_price").popover("show");
        }

        function deadlinePopover(text)
        {
            document.getElementById("id_deadline").setAttribute("data-bs-toggle", "popover");
            document.getElementById("id_deadline").setAttribute("data-bs-trigger", "manual");
            document.getElementById("id_deadline").setAttribute("data-bs-placement", "top");
            document.getElementById("id_deadline").setAttribute("data-bs-html", true);
            document.getElementById("id_deadline").setAttribute("data-bs-content", "<span class='text-danger'><i class='fas fa-exclamation mx-2'></i>" + text + "</span>");
            $("#id_deadline").popover("show");
        }

        function validateImage()
        {
            imageValid = false;
            const files = document.getElementById("id_image").files;
            for (const file of files)
            {
                // cannot accept >10mb files
                if (file.size > 10485760) {
                    imagePopover("image files must have sizes < 10MB");
                    return;
                }
            }
            imageValid = true;
            $("#id_image").popover("hide");
        }
        function validateAlbum()
        {
            albumValid = false;
            const files = document.getElementById("id_album").files;
            for (const file of files)
            {
                // cannot accept >10mb files
                if (file.size > 10485760) {
                    albumPopover("image files must have sizes < 10MB");
                    return;
                }
            }
            albumValid = true;
            $("#id_album").popover("hide");
        }
        function validatePrice()
        {
            priceValid = false;
            const price_string = document.getElementById("id_price").value;
            if (price_string.indexOf('.') > -1 && price_string.indexOf('.') < price_string.length - 3)
            {
                pricePopover("price cannot have more than 2 decimal places");
                return;
            }
            const price = +price_string;
            if (Number.isNaN(price))
            {
                pricePopover("price must be a valid number");
                return;
            }
            if (price < 0)
            {
                pricePopover("price cannot be negative");
                return;
            }
            if (price > 999999.99)
            {
                pricePopover("price cannot be greater than $999,999.99");
                return;
            }
            priceValid = true;
            $("#id_price").popover("hide");
        }

        function validateDeadline()
        {
            deadlineValid = false;
            const date = document.getElementById("id_deadline").value.split('-');
            if (date.length != 3)
            {
                deadlinePopover("fix deadline formatting");
                return;
            }
            const deadline = new Date(date[0], date[1] - 1, date[2]);
            let today = new Date();
            today.setHours(0, 0, 0, 0);
            if (deadline < today)
            {
                deadlinePopover("deadline cannot be set prior to today");
                return;
            }
            let latestDateText = document.getElementById("hint_id_deadline").innerHTML;
            latestDateText = latestDateText.substring(latestDateText.length - 10);
            const latestDate = latestDateText.split('-');
            const latestDeadline = new Date(latestDate[0], latestDate[1] - 1, latestDate[2]);
            if (deadline > latestDeadline)
            {
                deadlinePopover("deadline cannot be later than " + latestDeadline.toDateString());
                return;
            }
            deadlineValid = true;
            $("#id_deadline").popover("hide");
        }
        function setup()
        {
            document.getElementById("id_price").addEventListener("input", validatePrice);
            document.getElementById("id_deadline").addEventListener("input", validateDeadline);
            document.getElementById("id_album").addEventListener("input", validateAlbum);
            document.getElementById("id_image").addEventListener("input", validateImage);
            window.setInterval(updateSubmitButton, 100);

            // validate deadline (deadline could have passed since last edit)
            validateDeadline();
        }
        document.addEventListener("DOMContentLoaded", setup);
    </script>

    <script>
        function populateOldLeadImage()
        {
            const old_image_src = document.getElementById("div_id_image").getElementsByTagName("a")[0].href;
            const old_image = document.createElement("img");
            old_image.src = old_image_src;
            old_image.style.width = '320px';
            old_image.style.height = 'auto';
            const text = document.createElement("p");
            text.innerHTML = "CURRENTLY";
            document.getElementById("lead_previewer").appendChild(text);
            document.getElementById("lead_previewer").appendChild(old_image);
        }
        function updateLeadPreviewer()
        {
            const lead_previewer = document.getElementById("lead_previewer");
            while (lead_previewer.firstChild)
            {
                lead_previewer.removeChild(lead_previewer.firstChild);
            }
            populateOldLeadImage();
            const files = document.getElementById("id_image").files;
            if (files.length === 0)
            {
                return;
            }
            const text = document.createElement('p');
            text.setAttribute("class", "mt-4");
            text.innerHTML = "REPLACE WITH";
            lead_previewer.appendChild(text);
            for (const file of files)
            {
                const image = document.createElement("img");
                image.src = URL.createObjectURL(file);
                image.style.width = '320px';
                image.style.height = 'auto';
                lead_previewer.appendChild(image);
            }
        }
        function populateOldAlbumImages()
        {
            const text = document.createElement("p");
            text.innerHTML = "CURRENTLY";
            document.getElementById("album_previewer").appendChild(text);

            {% if item.album.all|length == 0 %}
            const moretext = document.createElement("p");
            moretext.innerHTML = "NONE";
            document.getElementById("album_previewer").appendChild(moretext);
            {% endif %}

            for (const old_image_src of [{% for image in item.album.all %}"{{image.image.url}}", {% endfor %}])
            {
                const old_image = document.createElement("img");
                old_image.src = old_image_src;
                old_image.style.width = '320px';
                old_image.style.height = 'auto';
                old_image.setAttribute("class", "my-2");
                document.getElementById("album_previewer").appendChild(old_image);
            }
        }
        function updateAlbumPreviewer()
        {
            const album_previewer = document.getElementById("album_previewer");
            while (album_previewer.firstChild)
            {
                album_previewer.removeChild(album_previewer.firstChild);
            }
            populateOldAlbumImages();
            const text = document.createElement('p');
            text.setAttribute("class", "mt-4");
            text.innerHTML = "ADD";
            if (document.getElementById("id_replace").checked)
            {
                text.innerHTML = "REPLACE WITH";
            }
            album_previewer.appendChild(text);
            const files = document.getElementById("id_album").files;
            if (files.length === 0)
            {
                const moretext = document.createElement("p");
                moretext.innerHTML = "NONE";
                album_previewer.appendChild(moretext);
                return;
            }
            for (const file of files)
            {
                const image = document.createElement("img");
                image.src = URL.createObjectURL(file);
                image.style.width = '320px';
                image.style.height = 'auto';
                image.setAttribute("class", "my-2");
                album_previewer.appendChild(image);
            }
        }
        function setupImagePreviewers()
        {
            populateOldLeadImage();
            populateOldAlbumImages();
            document.getElementById("id_image").addEventListener("input", updateLeadPreviewer);
            document.getElementById("id_album").addEventListener("input", updateAlbumPreviewer);
            document.getElementById("id_replace").addEventListener("input", updateAlbumPreviewer);
        }
        document.addEventListener("DOMContentLoaded", setupImagePreviewers);
    </script>
{% endblock content %}
