{% extends "marketplace/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="topbar" style="text-align: right;">
    <a href="{% url 'gallery' %}" class="btn btn-outline-light" style="font-weight: bold;"> BACK TO IMAGE GALLERY</a>
</div>
    <div class="container">
        <display>Please beautify this form. Like add input icons next to the input fields or somethin</display>
        <form action="{% url 'edit_account' %}" method="post">
            {% csrf_token %}
            <!-- SHOULD TRY TO CUSTOMIZE FORM TO LOOK NICE -->
            <!-- i.e. ADD INPUT ICONS NEXT TO THE FIELDS -->
            {{ account_form|crispy }}
            <input type="submit" value="Save">
        </form>
    </div>

{% endblock content %}
