{% extends "marketplace/base.html" %}
{% block content %}

<div class="container pb-4">
    <br>
    <h2>Frequently Asked Questions</h2>
    <hr>

    <p><strong>Note:</strong> If you have questions that are not addressed on this page, please submit them via our "Contact Us" page!</p>

    <div class="accordion" id="accordionParent">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button bg-light hover-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                So... how does this site work?
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionParent">
            <div class="accordion-body">
                Here's a fun comic to illustrate how you can use TRT as a seller and buyer: <br>
                    <center><img src='../../static/marketplace/Comic.png' id = "comic-image"></center>
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button bg-light hover-grey collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                I clicked “purchase” on an item. What now?
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionParent">
            <div class="accordion-body">
                The item will appear on your “My Purchases” page. Once the seller of your item confirms the purchase, the transaction will begin, and you can reach out to the seller either through email or the in-site messaging system. Happy buying!
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button bg-light hover-grey collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                I requested an item. What now?
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionParent">
            <div class="accordion-body">
                Now you wait! Until your request item's expiration date, the item will be displayed on the request gallery page. Sellers are encouraged to browse through requests before purchasing an item. If someone sees your request and thinks their item may be interesting to you, they should reach out to you via the in-site messaging system. Happy buying!
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button bg-light hover-grey collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                I posted an item. What now?
            </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionParent">
            <div class="accordion-body">
                Now you wait! Until your item's expiration date, the item will be displayed on the image gallery page. If an interested buyer initiates a purchase, you will recieve both an email and an in-site notification to confirm this purchase and begin your transaction. If you didn't before, you are also encouraged to check out the requests page and see if your item could fulfill any of the requests. Happy selling!
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button bg-light hover-grey collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Why is there no option to purchase some of the items on the gallery page?
            </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionParent">
            <div class="accordion-body">
                A frozen item on the gallery page is currently in the process of being purchased by another buyer. If this transaction doesn’t go through, the item will be reinstated on the image gallery as a purchasable item. Check back in a couple of days to see if the item is up for sale!
            </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button bg-light hover-grey collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                I need to edit information about an item I posted earlier. How do I do that?
            </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionParent">
            <div class="accordion-body">
                Navigate to the “My Items” page. As long as your item is not currently involved in a transaction, there will be an option to edit information about any of your items.
            </div>
            </div>
        </div>
    </div>

{% endblock content %}