{% extends "marketplace/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="topbar" style="text-align: right;">
    <a href="{% url 'browse_item_requests' %}" class="btn btn-outline-dark" style="font-weight: bold;">BACK TO ITEM REQUEST GALLERY</a>
</div>

<div class="container my-4">

    <h2>Report Inappropriate Item Request (Thanks for your help!)</h2>
    <hr>

    <div class="container my-4">
        {% include "marketplace/report_item_request_card.html" %}
    </div>

    <form action="{% url 'flag_item_request' item_request.pk %}" method="post">
        {% csrf_token %}

        <div class="row my-2">
            <div class="col">
                {{ item_request_flag_form.text|as_crispy_field }}
            </div>
        </div>

        <div class ="row my-4">
            <div class="text-center">
                <button id="id_submit" type="submit" value="Submit" class="btn btn-danger">Report</button>
            </div>
        </div>
    </form>

</div>

{% endblock content %}
