{% extends "marketplace/base.html" %}
{% block content %}

<div class="topbar header3 container-fluid">
    <div class="row justify-content-around">
        <div class="col-5">
            <div class="input-group rounded">
              <input type="search" id="searchbar" oninput="updateQuery()" placeholder="Search" class="form-control" />
              <button class="btn btn-secondary"><i class=" fa fa-search"></i></button>
            </div>
        </div>

        <div class="col-5 text-center">
          <a class="btn btn-light hover-grey" href="{% url 'browse_item_requests' %}" style="width: 60%;"><span
              class="d-none d-xl-inline">Want to Sell?&nbsp;&nbsp;</span><span class="d-none d-md-inline">Browse </span>Requests</a>
        </div>

        <div class="col-2">
          <div class="dropdown show" style="text-align: right;">
            <button class="btn btn-light dropdown-toggle px-3 hover-grey" style="font-weight: bold;" type="button"
              id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Post
            </button>
            <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <div class="container-fluid dropdown-item mx-0 px-0">
                <div class="row"> 
                  <button class="post-dropdown-item px-0 mx-0 noHover" style="border:none; background-color:transparent; outline:none;" data-bs-toggle="modal" data-bs-target="#post-dropdown-item" onclick="disableHover()">POST ITEM</button>
                </div>
              </div>
              <a class="dropdown-item" href="{% url 'new_item_request' %}">POST REQUEST</a>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="post-dropdown-item" tabindex="-1" role="dialog"
          aria-labelledby="post-dropdown-item" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header" style="background-color: #cee2db;">
                <h5 style="font-size:30px" class="modal-title">Post Item</h5>
                <button type="button" class="btn close" onclick="enableHover()" data-bs-dismiss="modal"
                  aria-label="Close">
                <span style="font-size:30px" aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <a class="btn btn-light hover-grey my-2" href="{% url 'new_item' %}"style="width: 100%;">Post Item</a>
                <a class="btn btn-light hover-grey my-2" href="{% url 'browse_item_requests' %}" style="width: 100%;"><span
                  class="d-none d-sm-inline">Want to Sell?&nbsp;&nbsp;</span>Browse Requests</a>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="enableHover()"
                  data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!-- Next Section -->
<div class="gallery_back container-fluid mb-3">

  <div class="container my-4">
    <div id="gallery_title">Items for Sale</div>
    <p>Purchase items here. Check out our FAQ for more.</p>
    <hr>
  </div>

  <div class="container-lg">

    <div class="row">

      <div class="col-sm-2">

        <div class="row">

          <div class="col-6 col-sm-12 mb-5">
            <p class="fs-5">Categories</p>
            {% for category in categories %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="category_{{category.pk}}" oninput="updateQuery()">
                    <label class="form-check-label" for="category_{{category.pk}}">
                        {{category.name}}
                    </label>
                </div>
            {% endfor %}
          </div>

          <div class="col-6 col-sm-12">
            <p class="fs-5">Conditions</p>
            {% for condition in Item.CONDITIONS %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="condition_{{condition.index}}" oninput="updateQuery()">
                    <label class="form-check-label" for="condition_{{condition.index}}">
                        {{condition.name}}
                    </label>
                </div>
            {% endfor %}
          </div>
          
        </div>
            
      </div>

      <div class="col-sm-10 px-4" style="height: 70vh; overflow-y: auto;">
        <div class="row" id="results"></div>
      </div>

    </div>

  </div>

</div>

<script>
    'use strict';
    const category_pks = [{% for category in categories %}{{category.pk}}, {% endfor %}];
    const condition_indexes = [{% for condition in Item.CONDITIONS %}{{condition.index}}, {% endfor %}];
    let active_category_pks = [];
    let active_condition_indexes = [];
    let search_string = "";

    let items = [];        // continuously gathered items, sorted by most relevant first
    // each item is a dict {"pk", "name", "price", "description", "lead_image", "album", etc.}
            
    let last_rendered_item_index = -1;  // tracks last rendered item
    let restart = false;                // indicates that items should be cleared

    let new_purchase_url = '{% url "new_purchase" %}';
    let csrf_token = '{% csrf_token %}';
    

    // set active_category_pks, active_condition_indexes, search_string appropriately
    // based on current inputs
    function updateQuery() {
        active_category_pks = [];
        active_condition_indexes = [];

        for (const category_pk of category_pks) {
            if ($("#category_"+category_pk).is(':checked')) {
                active_category_pks.push(category_pk);
            }
        }
        for (const condition_index of condition_indexes) {
            if ($("#condition_"+condition_index).is(':checked')) {
                active_condition_indexes.push(condition_index);
            }
        }

        search_string = $("#searchbar").val();
        restart = true; // trigger a clear of the items array, since query parameters have changed
    }

    // generates and injects new item HTML elements, updates 'last_rendered_item_index'
    function injectItemsHTML() {

        if (last_rendered_item_index < 0) {
          $('#results').html('');
        }

        // generate and add new item html elements
        for (const item of items.slice(last_rendered_item_index + 1)) {
            let item_html = '';
            item_html += '<div class="card item-card hover col-12 col-md-4" style="width: 18rem; padding-top: 1%; padding-bottom: 1%;">';
            // image of the item
            item_html += '<div style="text-align:center; padding-top:6%; padding-bottom:4%" class="card-img-top rounded-corners">';
            item_html += '<div style="height: 150px;"><img src="';
            item_html += item["image"];
            item_html += '" style="max-width: 220px; max-height: 150px; width: auto; height: auto;">';
            item_html += '</div></div>';
            // categories that do not show up on the item
            item_html += '<div style="display:none;" class="item_categories">';
            item_html += item["categories"];
            item_html += '</div>';
            // card body
            item_html += '<div class="card-body">';
              // card title
              item_html += '<div class="card-title">';
              item_html += item["name"];
              item_html += '</div>';
              // negotiable item
              if (item["negotiable"]) {
                item_html += '<p class="card-text"><i class="fas fa-tag"></i> $';
                item_html += item["price"]; 
                item_html += ' USD (negotiable)</p>';
              }
              else {
                item_html += '<p class="card-text"><i class="fas fa-tag"></i> $';
                item_html += item["price"]; 
                item_html += ' USD</p>';
              }
              // item deadline 
              item_html += '<p class="card-text"><i class="fas fa-hourglass-half"></i> till ';
              item_html += item["deadline"];
              item_html += '</p>';
              // item quality
              item_html += '<p class="card-text"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Quality</p>';
              if (item["condition_index"] == 0) {
                item_html += '<div class="progress"><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%"';
                item_html += 'aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>';
              }
              else if (item["condition_index"] == 1) {
                item_html += '<div class="progress"><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 85%"';
                item_html += 'aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>';
              }
              else if (item["condition_index"] == 2) {
                item_html += '<div class="progress"><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%"';
                item_html += 'aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>';
              }
              else if (item["condition_index"] == 3) {
                item_html += '<div class="progress"><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 55%"';
                item_html += 'aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>';
              }
              else if (item["condition_index"] == 4) {
                item_html += '<div class="progress"><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 40%"';
                item_html += 'aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>';
              }

              //item availability
              item_html += '<div class="row" style="padding-top:3%;padding-bottom:4%">';
                item_html += '<div class="col-sm-12">';
                  item_html +='<form action="';
                  item_html += new_purchase_url;
                  item_html += '" method="post" style="display: inline-block;">';
                  item_html += csrf_token;
                    item_html += '<input type="hidden" name="pk" value=';
                    item_html += item["pk"];
                    item_html += '>';
                    item_html += '<input type="submit" class="btn btn-success pull-left" value="Purchase" style="padding-left: 19px; padding-right: 19px; margin-right: 6px;">';
                  item_html += '</form>';
                  item_html += '<button type="button" id="button_modal';
                  item_html += item["pk"]
                  item_html += '" class="btn btn-secondary noHover pull-right"';
                    item_html += 'onclick="disableHover()" data-bs-toggle="modal" data-bs-target="#modal';
                    item_html += item["pk"];
                    item_html += '" style="padding-left: 28px; padding-right: 28px;">';
                  item_html += 'Details </button>';
                  item_html += '<a style="margin-left: 7px;" href="/flag_item/' + item["pk"] + '/" data-bs-toggle="tooltip" data-bs-placement="top" title="Report"><i class="fas fa-flag" style="color:orange;"></i></a>';
                item_html += '</div>';
              item_html += '</div>';

              // modal
              item_html += '<div class="modal fade" id="modal';
              item_html += item['pk'];
              item_html += '" tabindex="-1" role="dialog"aria-labelledby="modal';
              item_html += item['pk'];
              item_html += '" aria-hidden="true">';
              item_html += '<div class="modal-dialog modal-dialog-centered" role="document">';
                // modal content
                item_html += '<div class="modal-content">';
                  // modal header
                  item_html += '<div class="modal-header" style="background-color: #cee2db;">';
                    item_html += '<h5 style="font-size:30px" class="modal-title" id="exampleModalLongTitle">';
                    item_html += item["name"];
                    item_html += '</h5>';
                    item_html += '<button type="button" class="btn close" onclick="enableHover()" data-bs-dismiss="modal" aria-label="Close">';
                    item_html += '<span style="font-size:30px" aria-hidden="true">&times;</span>';
                    item_html += '</button>';
                  item_html += '</div>';
                  // modal body
                  item_html += '<div class="modal-body">';
                    item_html += '<h2 style="text-align:center;">Item Details</h2>';
                    // carousel items
                    item_html += '<div id="myCarousel';
                    item_html += item["pk"];
                    item_html += '" class="carousel slide text-center multi-item-carousel" data-bs-ride="carousel">';
                      item_html += '<br>';
                      // carousel list box
                      item_html += '<div class="carousel-inner" role="listbox">';
                        item_html += '<div class="carousel-item active">';
                          item_html += '<div style="height: 150px;"><img src="';
                          item_html += item["image"];
                        item_html += '" style="max-width: 220px; max-height: 150px; width: auto; height: auto;"></div></div>';
                        item["album"].forEach(picture =>{
                          item_html += '<div class="carousel-item">';
                          item_html += '<div style="height: 150px;"><img src="';
                          item_html += picture;
                          item_html += '" style="max-width: 220px; max-height: 150px; width: auto; height: auto;">';
                          item_html += '</div></div>';
                        });
                        /* item_html += '<p>';
                        item_html += item["album"];
                        item_html += '</p>'; */
                      item_html += '</div>';
                      item_html += '<br>';
                      // carousel previous button
                      item_html += '<a class="carousel-control-prev" href="#myCarousel';
                      item_html += item["pk"];
                      item_html += '" role="button" data-bs-slide="prev">';
                      item_html += '<span class="carousel-control-prev-icon" aria-hidden="true"></span>';
                      item_html += '<span class="sr-only">Previous</span></a>';
                      // carousel next button
                      item_html += '<a class="carousel-control-next" href="#myCarousel';
                      item_html += item["pk"];
                      item_html += '" role="button" data-bs-slide="next">';
                      item_html += '<span class="carousel-control-next-icon" aria-hidden="true"></span>';
                      item_html += '<span class="sr-only">Next</span></a>';
                    item_html += '</div>';
                    // description
                    item_html += '<div style="background:#d8e2dc; border-radius:10px;" id="description">';
                      item_html += '<div class="item-details">';
                      if (item['negotiable']) {
                        item_html += '<p class="card-text"><i class="fas fa-tag"></i> $';
                        item_html += item["price"]; 
                        item_html += ' USD (negotiable)</p>';
                      }
                      else {
                        item_html += '<p class="card-text"><i class="fas fa-tag"></i> $';
                        item_html += item["price"]; 
                        item_html += ' USD</p>';
                      }
                      // item deadline 
                      item_html += '<p class="card-text"><i class="fas fa-hourglass-half"></i> till ';
                      item_html += item["deadline"];
                      item_html += '</p>';
                      // item description
                      item_html += '<p class="card-text"><i class="fas fa-comment"></i> ';
                      item_html += item["description"];
                      item_html += '</p>';
                      // item quality
                      item_html += '<p class="card-text"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Quality</p>';
                      if (item["condition_index"] == 0) {
                        item_html += '<div class="progress"><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%"';
                        item_html += 'aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>';
                      }
                      else if (item["condition_index"] == 1) {
                        item_html += '<div class="progress"><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 85%"';
                        item_html += 'aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>';
                      }
                      else if (item["condition_index"] == 2) {
                        item_html += '<div class="progress"><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%"';
                        item_html += 'aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>';
                      }
                      else if (item["condition_index"] == 3) {
                        item_html += '<div class="progress"><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 55%"';
                        item_html += 'aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>';
                      }
                      else if (item["condition_index"] == 4) {
                        item_html += '<div class="progress"><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 40%"';
                        item_html += 'aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div></div>';
                      }
                      item_html += '</div>';
                    item_html += '</div>';
                  item_html += '</div>';
                  // modal footer
                  item_html += '<div class="modal-footer">';
                  item_html += '<form action="';
                  item_html += new_purchase_url;
                  item_html += '" method="post" style="display: inline-block;">';
                  item_html += csrf_token;
                  item_html += '<input type="hidden" name="pk" value=';
                  item_html += item["pk"];
                  item_html += '><input type="submit" class="btn btn-success pull-left" value="Purchase" style="padding-left: 19px; padding-right: 19px;">';
                  item_html += '</form><button type="button" class="btn btn-secondary" onclick="enableHover()"data-bs-dismiss="modal">Close</button>';
                  item_html += '<a style="margin-left: 10px;" href="/flag_item/' + item["pk"] + '/" data-bs-toggle="tooltip" data-bs-placement="top" title="Report"><i class="fas fa-flag" style="color:orange;"></i></a>';
                  item_html += '</div>';
                item_html += '</div>';
              item_html += '</div>';
            item_html += '</div>';
            item_html += '</div>';
            item_html += '</div>';
            const item_element = document.createElement("div");
            item_element.classList.add("col-xxl-4");
            item_element.classList.add("col-xl-4");
            item_element.classList.add("col-lg-6");
            item_element.classList.add("col-md-6");
            item_element.classList.add("col-sm-12");
            item_element.classList.add("mb-4");
            item_element.innerHTML = item_html;
            $('#results').append(item_element);

            // enable tooltips in item_element
            const tooltipTriggerList = [].slice.call(item_element.querySelectorAll('[data-bs-toggle="tooltip"]'));
            tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl);
            });
        }

        if (items.length === 0) {
          const p = document.createElement("p");
          p.innerHTML = "No items match the current filters.";
          $('#results').append(p);
        }

        // update index
        last_rendered_item_index = items.length - 1;
    }

    // retrieve and render items repeatedly in a synchronous fashion 
    // (only this function and those it calls should ever touch 'items', 'last_rendered_item_index' to avoid concurrency issues)
    function populateItemsSynchronously(count, period) {

        if (restart) {
            restart = false;
            items = [];
            last_rendered_item_index = -1;
            window.setTimeout(populateItemsSynchronously(count, period), period);
            return;
        }

        // populate items array with new items

        // construct appropriate GET parameters
        let categories_str = "";
        for (const category_pk of active_category_pks) {
            categories_str += category_pk + ",";
        }
        let conditions_str = "";
        for (const condition_index of active_condition_indexes) {
            conditions_str += condition_index + ",";
        }

        // get new items in backward direction
        let base_item_pk = -1;
        if (items.length != 0) {
            base_item_pk = items[items.length - 1]["pk"];
        }
        fetch("/items/get_relative/?count=" + count + "&direction=backward&base_item_pk=" + base_item_pk + "&search_string=" + search_string + "&condition_indexes=" + conditions_str + "&category_pks=" + categories_str)
            .then((resp) => {return resp.json();})
            .then((data) => {

                // push items and render
                items.push(...data["items"]);
                injectItemsHTML();
                
                // notice that setTimeout is called only in callback of fetch, to avoid concurrency issues
                // (the call to setTimeout in the .catch only occurs if .then doesn't execute)
                window.setTimeout(populateItemsSynchronously(count, period), period);
                return;
            })
            .catch((error) => {
                window.setTimeout(populateItemsSynchronously(count, period), period);
                return console.log(error);
            });
            
        return;
    }

    function setup() {
            window.setTimeout(() => {populateItemsSynchronously(5, 10)}, 0);
        }

    $('document').ready(setup);

</script>
{% endblock content %}