{% extends "marketplace/base.html" %}
{% load cloudinary %}
{% block content %}

<head>
    <script src="bootstrap.bundle.min.js / bootstrap.bundle.js"></script>
    <!--https://getbootstrap.com/docs/4.0/components/popovers/-->
</head>

<div class="topbar" style="text-align: right;">
    <a href="{% url 'new_item' %}" class="btn btn-outline-light" style="font-weight: bold;">POST ITEM</a>
    <a href="{% url 'gallery' %}" class="btn btn-outline-light" style="font-weight: bold;">IMAGE GALLERY</a>
</div>
<div class="gallery_back container-fliud mb-3">
    <br>
    <div class="container">
        <div id="gallery_title">My Purchases</div>
        <hr>
        {% if not purchases %}
        <h3>You have not started any purchases yet!</h3>
        {% endif %}
        <div class="row">
            {% for purchase in purchases %}
            <div class="card hover col-12 col-md-4" style="width: 18rem; padding-top: 2%;">
                <h5 style="padding: 6%;background-color: #faebaa; border-radius:10px" class="card-title">
                    {{purchase.item.name}}
                </h5>
                <div class="pic-description" style="background-color: #f0e3e3; border-radius:10px">
                    <div style="text-align:center;" class="card-img-top rounded-corners">
                        {% cloudinary purchase.image format="jpg" width=120 height=80 crop="fill"%}
                    </div>
                </div>
                <div style="display:none;" class="item_categories">
                    {% for category in item.categories.all %}
                    <div class="item_category">{{category}}</div>
                    {% endfor %}
                </div>
                <hr>
                <div class="card-body">
                    <h5 class="card-title">{{purchase.item}}</h5>
                    <p class="card-text">{{purchase.item.seller}}</p>
                    {% if purchase.status == Transaction_ACKNOWLEDGED or purchase.status == Transaction_B_PENDING %}
                    <a class="btn btn-outline-success" href="{% url 'confirm_purchase' purchase.pk %}">Confirm</a>
                    {% elif purchase.status == Transaction_INITIATED %}
                    <div class="pull-right">
                        <button type="button" class="btn btn-outline-secondary" data-toggle="popover"
                            data-placement="top" data-content="Awaiting seller acknowledgement.">Confirm</button>
                    </div>

                    {% elif purchase.status == Transaction_S_PENDING %}
                    <div class="pull-right">
                        <button type="button" class="btn btn-outline-secondary" data-toggle="popover"
                            data-placement="top"
                            data-content="Already confirmed, awaiting seller acknowledgement.">Confirm</button>
                    </div>
                    {% elif purchase.status == Transaction_COMPLETE %}
                    <p style="color:rgb(31, 182, 12); font-weight: bold;">COMPLETE</p>
                    {% elif purchase.status == Transaction_CANCELLED %}
                    <p style="color: rgb(212, 67, 31); font-weight: bold; font-size: 20px;">CANCELLED</p>
                    {% endif %}
                    <div class='col-md-2'>
                        {% if purchase.status != Transaction_COMPLETE and purchase.status != Transaction_CANCELLED %}
                        <div class="col-xs-6 text-left">
                            <a class="btn btn-outline-danger" href="{% url 'cancel_purchase' purchase.pk %}">Cancel</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
</div>
{% endblock content %}