{% extends "marketplace/base.html" %}
{% block content %}
    <div class="container">
        {% if not items %}
            <h3>You have not posted any items yet!</h3>
        {% endif %}
        {% for item in items %}
            <div class="row">
                <div class='col-md-5'>
                    {{item.name}}
                </div>
                <div class='col-md-5'>
                    {{item.description}}
                </div>
                <div class='col-md-2'>
                    {{item.status}}
                </div>
            </div>
        {% endfor %}
        <a href="{% url 'gallery' %}">Back to image gallery</a> <br>
    </div>
{% endblock content %}