{% extends "marketplace/base.html" %}
{% block content %}
    <div class="container">
        {% if not items %}
            <h3>You have not posted any items yet!</h3>
        {% endif %}
        {% for item in items %}
            <div class="row">
                <div class='col-md-3'>
                    {{item.name}}
                </div>
                <div class='col-md-3'>
                    {{item.description}}
                </div>
                <div class='col-md-2'>
                    {% if item.status == Item_AVAILABLE %}
                        <p>AVAILABLE</p>
                    {% elif item.status == Item_FROZEN %}

                        {% for sale in item.transaction_set.all %}

                            <div class='row'>
                                {% if sale.status == Transaction_INITIATED %}
                                    <a href="{% url 'accept_sale' sale.pk %}">Accept</a>
                                {% elif sale.status == Transaction_ACKNOWLEDGED or sale.status == Transaction_S_PENDING %}
                                    <a href="{% url 'confirm_sale' sale.pk %}">Confirm</a>
                                {% elif sale.status == Transaction_B_PENDING %}
                                    <p>Already Confirmed (grey out and put popup that says awaiting buyer confirmation)</p>
                                {% elif sale.status == Transaction_COMPLETE %}
                                    <p>COMPLETE</p>
                                {% elif sale.status == Transaction_CANCELLED %}
                                    <p>CANCELLED</p>
                                {% endif %}
                            </div>
                            <div class='row'>
                                {% if sale.status != Transaction_COMPLETE and sale.status != Transaction_CANCELLED %}
                                    <a href="{% url 'cancel_sale' sale.pk %}">Cancel</a>
                                {% endif %}
                            </div>

                        {% endfor %}
                        
                    {% elif item.status == Item_COMPLETE %}
                        <p>COMPLETE</p>
                    {% endif %}
                </div>
                <div class='col-md-2'>
                    <a href="{% url 'edit_item' item.pk %}">Edit</a> <br>
                </div>
                <div class='col-md-2'>
                    <a href="{% url 'delete_item' item.pk %}">Delete</a> <br>
                </div>
            </div>
        {% endfor %}
        <a href="{% url 'new_item' %}">Post Item</a> <br>
        <a href="{% url 'gallery' %}">Back to image gallery</a> <br>
    </div>
{% endblock content %}