{% extends "marketplace/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="topbar" style="text-align: right;">
    <a href="{% url 'gallery' %}" class="btn btn-outline-light" style="font-weight: bold;">BACK TO IMAGE GALLERY</a>
</div>
    <div class="container my-4">
        <h2>Item Post Form</h2> <hr>
        <form action="{% url 'new_item' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row my-2">
                <div class="col-lg-6 col-sm-12">
                    <label>Item Name*</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend d-none d-sm-block">
                          <div class="input-group-text only-round-left">
                            <span style="font-size: 16px; color: rgb(0, 0, 0);">
                                <i class="fas fa-box-open"></i> 
                            </span>
                        </div>
                      </div>
                      {{ item_form.name|as_crispy_field }}
                </div>
            </div>

            
            <div class="row my-2">
                <div class="col-lg-6 col-sm-12">
                    {{ item_form.description|as_crispy_field }}
                </div>
            </div>

            <div class="row my-4">
                <div class="col-lg-3 col-sm-6">
                    <label>Price*</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend d-none d-xl-block">
                          <div class="input-group-text only-round-left">
                            <span style="font-size: 16px; color: rgb(0, 0, 0);">
                                <i class="fas fa-dollar-sign"></i> 
                            </span>
                          </div>
                        </div>
                        {{ item_form.price|as_crispy_field }}
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4">
                    <label>Price Negotiable*</label>
                    {{ item_form.negotiable|as_crispy_field }}
                </div>
                <div class="col-lg-4 col-sm-6">
                    <label>Deadline to Sell*</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend d-none d-xl-block">
                          <div class="input-group-text only-round-left">
                            <span style="font-size: 16px; color: rgb(0, 0, 0);">
                                <i class="fas fa-calendar"></i> 
                            </span>
                          </div>
                        </div>
                        {{ item_form.deadline|as_crispy_field }}
                    </div>
                </div>
            </div>
            
            <div class="row my-4">
                <div class="col-lg-6 col-sm-6">
                    {{ item_form.categories|as_crispy_field }}
                </div>
                <div class="col-lg-6 col-sm-6">
                    {{ item_form.condition|as_crispy_field }}
                </div>
            </div>
              
            <div class="row my-2">
                <div class="col-lg-6 col-sm-6">
                    <div class="row my-2">
                        <label>Lead Image*</label>
                    </div>
                    <div class="row my-2">
                        {{ item_form.image|as_crispy_field }}
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="row my-2">
                        <label>Album (up to 5 supplementary images)</label>
                    </div>
                    <div class="row my-2">
                        <input type="file" name="album" accept="image/*" multiple/>
                    </div>
                </div>
            </div>

            <div class ="row my-4">
                <div class="text-center">
                    <button type="submit" value="Submit" class="btn btn-success">Submit</button>
                </div>
            </div>
              
            </div>
        </form>
    </div>

{% endblock content %}
